{% block title %}Need a new password? {{ name }}. {% endblock %}

{% block heading1 %}Need a new password?{% endblock %}
{% block body %}
<p>Hi {{ name }},</p>
<p>Copy the verification code below and paste it into the form on the page you just left.</p>
<p><b>Your verification code is:</b> {{ verificationCode }}</p>
<p> OR </p>
<p><a href="{{ getSiteUrl(userId)  | default(siteUrl) }}/reset/password/{{ verificationCode }}">Click here </a> to reset your password online.</p>

{% endblock %}